<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>

<form th:method="POST" th:action="@{/admin}">

    <div class="form-group col-md-2 m-auto pt-md-5">
        <h1>Please sign in</h1>
    </div>

    <div class="form-group row col-md-2 m-auto pt-md-3">
            <input type="email" class="form-control" name="j_username" placeholder="admin@gmail.com"><br><br>
    </div>

    <div class="form-group row col-md-2 m-auto">
            <input type="password" class="form-control" name="j_password" placeholder="1"><br><br>
    </div>

    <div class="form-group col-md-2 text-center m-auto">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
    </div>
</form>

</body>
</html>